:root {
  --header-height: 70px;
  --primary-color: #4f46e5;
  --primary-light: #eef2ff;
  --text-dark: #111827;
  --text-light: #6b7280;
  --bg-color: #f9fafb;
  --border-color: #dde3ef;
}


/* --- App Layout Wrapper --- */
.app-layout {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Prevents double scrollbars */
}

.main-content {
  flex-grow: 1;
  overflow-y: auto; /* This is the main scrollbar for your content */
  padding: 2rem;
}
