.header {
  height: var(--header-height);
  flex-shrink: 0;
  background: #ffffff;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header-title {
  font-size: 1.5rem; /* Made title bigger */
  font-weight: 600;
  color: var(--text-dark);
}
.header-controls {
  display: flex;
  align-items: center;
  gap: 1.6rem; 
}

 .user-avtar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

 .user-avtar img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border-color);
}

.logout-button-simple {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 99px; /* Circle */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout-button-simple:hover {
  background: var(--bg-color);
}
.logout-button-simple .nav-icon {
  color: var(--text-light);
}


.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-dark, #2d3748);
}

/* he Hamburger Button */
.hamburger-btn {
  /* By default, it's HIDDEN on desktop */
  display: none;
  
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10; /* Ensures it's clickable */
}

/* The "bars" of the hamburger */
.hamburger-btn span {
  width: 28px;
  height: 3px;
  background: var(--text-dark, #2d3748);
  border-radius: 3px;
  transition: all 0.3s linear;
}


@media (max-width: 1024px) {
  .hamburger-btn {
    display: flex; 
  }

  @media (max-width: 480px) {
    .page-title {
      display: none;
    }
  }
}